<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI Test Suite" parallel="classes" thread-count="2">
    <test name="End To End UI Tests">
        <classes>
            <class name="com.fintech.tests.UserRegistrationTest"/>
            <class name="com.fintech.tests.TransactionFlowTest"/>
        </classes>
    </test>
</suite>